### Copia esto ###
DATABASE_URL_ESTUDIANTES=postgresql://usuario:contraseña@localhost:5432/estudiantes_db
DATABASE_URL_CURSOS=postgresql://usuario:contraseña@localhost:5432/cursos_db
DATABASE_URL_MATRICULAS=postgresql://usuario:contraseña@localhost:5432/matriculas_db

##Recuerda reemplazar usuario y contraseña con las credenciales de tu base de datos.